## Data Collections 2 (Dictionaries, Sets)

## Tasks Today:
1) Warm Up
2) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Create book dictionary and access values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Modifying and Looping Dictionaries  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Dictionaries <br>
3) Dictionaries vs. Lists (over time)<br>
4) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) .clear() <br>
5) Frozenset <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
6) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [36]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245')
]


def get_phone_number(name):
    got_name = name.split(" ")
    for contact in address_book:
        if len(got_name) == 1:
            if got_name[0] in contact:
                return contact[3]
        elif len(got_name) == 2:
            if got_name[0] in contact and got_name[1] in contact:
                return contact[3]
        
    return -1


        
get_phone_number('Tevin Downey')

'(333) 333-3245'

In [34]:
get_phone_number('Fife')

'(222) 222-6789'

In [33]:
get_phone_number('Hank Mardukas')

'(555) 555-1234'

In [12]:
get_phone_number('Sarah')

-1

In [5]:
get_phone_number('Robby')

-1

In [6]:
get_phone_number('Zooey')

-1

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are "ordered" as of Python 3.6</p>

##### Declaring (key, value)

In [7]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...} or a_dict = dict(key=value)

d1 = {}
print(d1)
print(type(d1))

d2 = dict()
print(d2)
print(type(d2))

{}
<class 'dict'>
{}
<class 'dict'>

In [8]:
d3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Blvd',
    'Tevin': '100 Rodeo Drive'
}

print(d3)
print(type(d3))

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd', 'Tevin': '100 Rodeo Drive'}
<class 'dict'>

In [9]:
d4 = dict(name='Brian', age=44, city='Chicago')
print(d4)
print(type(d4))

{'name': 'Brian', 'age': 44, 'city': 'Chicago'}
<class 'dict'>

##### Accessing Values

In [10]:
a_list = ['Hank', 'Peter', 'Sydney', 'Tevin']

print(a_list[3])

Tevin

In [11]:
# dict[key]
print(d3['Hank'])

123 Real Street

In [12]:
print(d3['Sydney'])

555 Santa Monica Blvd

In [13]:
print(d3['Brian'])

KeyError: 'Brian'

##### .get()

In [14]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [15]:
# dict.get('key') or dict.get('key', value_if_no_key)
print(d3.get('Peter'))
print(d3.get('Sarah'))
print(d3.get('Sarah', 'No Address Available'))

321 Fake Street
None
No Address Available

## In-Class Exercise #1
Create a dictionary called `favorite_book` that has keys `title`, `author`, `genre`, and `rating` (number out of 100). Then create a variable called `statement` that is a formatted string saying "My favorite book is `title` by `author` which I would give a `rating` out of 100"

In [39]:
favorite_book = {
    'title': 'Fear and Loathing in Las Vegas',
    'author': 'Hunter S. Thompson',
    'genre': 'Gonzo Journalism',
    'rating': 95
}

statement = f"My favorite book is {favorite_book['title']} by {favorite_book['author']} which I would give a {favorite_book['rating']} out of 100"
print(statement)

My favorite book is Fear and Loathing in Las Vegas by Hunter S. Thompson which I would give a 95 out of 100

##### Adding New Pairs

In [16]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive'}

In [17]:
# dict[key] = value
d3['Zooey'] = '456 Main Street'

d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '456 Main Street'}

##### Modifying Values

In [18]:
# dict[key] = value
d3['Zooey'] = '654 Second Street'
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Tevin': '100 Rodeo Drive',
 'Zooey': '654 Second Street'}

##### Removing Key, Value Pairs

In [19]:
# del dict[key]
del d3['Tevin']

In [20]:
d3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Blvd',
 'Zooey': '654 Second Street'}

In [21]:
del d3['Tevin']

KeyError: 'Tevin'

In [22]:
# dict.pop('key') - remove key,value pair - returns value back to caller
help(dict.pop)

Help on method_descriptor:

pop(...)
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.

    If the key is not found, return the default if given; otherwise,
    raise a KeyError.

In [23]:
removed_value = d3.pop('Zooey')

print(removed_value)

print(d3)

654 Second Street
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

In [24]:
# If the key is not in the dictionary, you can add a second argument for the default return value
removed_value = d3.pop('Zooey', 'Not in Dictionary')

print(removed_value)

print(d3)

Not in Dictionary
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}

##### Looping a Dictionary

In [25]:
help(dict.items)

Help on method_descriptor:

items(...)
    D.items() -> a set-like object providing a view on D's items

In [26]:
# .items()
print(d3)
print(d3.items())

{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Blvd'}
dict_items([('Hank', '123 Real Street'), ('Peter', '321 Fake Street'), ('Sydney', '555 Santa Monica Blvd')])

In [27]:
for item in d3.items():
    print(item, type(item))

('Hank', '123 Real Street') <class 'tuple'>
('Peter', '321 Fake Street') <class 'tuple'>
('Sydney', '555 Santa Monica Blvd') <class 'tuple'>

In [28]:
for name, address in d3.items():
    print('Key:', name, 'Value:', address)

Key: Hank Value: 123 Real Street
Key: Peter Value: 321 Fake Street
Key: Sydney Value: 555 Santa Monica Blvd

##### Looping Only Keys

In [29]:
help(dict.keys)

Help on method_descriptor:

keys(...)
    D.keys() -> a set-like object providing a view on D's keys

In [30]:
# .keys()
print(d3.keys())

dict_keys(['Hank', 'Peter', 'Sydney'])

In [31]:
for key in d3.keys():
    print(key)

Hank
Peter
Sydney

In [32]:
# Looping over a dictionary, it will loop through only the keys

for x in d3:
    print(x)

Hank
Peter
Sydney

In [33]:
# you can ALWAYS access the value in a dictionary from its key

for k in d3:
    print(k, d3[k])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Blvd

##### Looping Only Values

In [34]:
help(dict.values)

Help on method_descriptor:

values(...)
    D.values() -> an object providing a view on D's values

In [35]:
# .values()
print(d3.values())

dict_values(['123 Real Street', '321 Fake Street', '555 Santa Monica Blvd'])

In [36]:
for val in d3.values():
    print(val)

123 Real Street
321 Fake Street
555 Santa Monica Blvd

In [37]:
# While you can always access a value from the key, doing the opposite is not so easy

value = '123 Real Street'

for key, val in d3.items():
    if val == value:
        print(key)

Hank

In [38]:
another_dict = {
    'a': 123,
    'b': 123
}


print(another_dict)


value = 123

for key, val in another_dict.items():
    if val == value:
        print(key)

{'a': 123, 'b': 123}
a
b

## In-Class Exercise #2
Modify your `favorite_book` dictionary from Exercise 1. Change the `rating` to a string with a grade rating ('B+' instead of 88). After you update, loop through the dictionary and log each key value pair in the format of `Key: Value`

In [39]:
# Example Output:

# Title: The Outsiders
# Author: S.E. Hinton
# Genre: Coming of Age
# Rating: A+

##### List with Dictionaries

In [40]:
my_list = [1, 2, 3, 'hello', 'goodbye', [4, 5, 6], {'a': 1, 'b': 2, 'c': 3}]

print(my_list)

[1, 2, 3, 'hello', 'goodbye', [4, 5, 6], {'a': 1, 'b': 2, 'c': 3}]

In [41]:
print(my_list[6], type(my_list[6]))
print(my_list[6]['a'])
print(my_list[6].get('b'))
print(my_list[6].items())

{'a': 1, 'b': 2, 'c': 3} <class 'dict'>
1
2
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [42]:
# print(my_list['a'])

##### List of Dictionaries

In [43]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}]

In [44]:
for m in movies:
    # print(m, type(m))
    print(f"Title: {m.get('title')} - Directed By: {m.get('director')} - {m.get('release_year', 'Unknown Year')}")

Title: Inception - Directed By: Christopher Nolan - 2010
Title: The Social Network - Directed By: David Fincher - 2010
Title: Parasite - Directed By: Bong Joon Ho - 2019

In [45]:
address_book = [
    {'first': 'Hank', 'last': 'Mardukas', 'address': '123 Real Street', 'phone': '(555) 555-1234'},
    {'first': 'Sydney', 'last': 'Fife', 'address': '555 Santa Monica Drive', 'phone': '(222) 222-6789'},
    {'first': 'Peter', 'last': 'Klaven', 'address': '321 Fake Street', 'phone': '(555) 555-4321'},
]


def get_phone_number(name):
    for person in address_book:
        if person.get('first') == name or person.get('last') == name or person.get('first', '') + ' ' + person.get('last', '') == name:
            return person.get('phone')
    return -1
        
get_phone_number('Smith')

-1

In [46]:
print(movies[1]['director'])

David Fincher

##### Dictionaries with Lists

In [47]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
data = {
    'my_list': [10, 20, 30],
    0: ['a', 'b', 'c']
}

print(data)
print(data['my_list'])
print(data[0]) # this is NOT an index - this is accessing the key 0
print(data['my_list'][2])
data['my_list'].append(40)
print(data)

{'my_list': [10, 20, 30], 0: ['a', 'b', 'c']}
[10, 20, 30]
['a', 'b', 'c']
30
{'my_list': [10, 20, 30, 40], 0: ['a', 'b', 'c']}

##### Dictionaries with Dictionaries

In [48]:
# to get values, must traverse through keys

my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}


print(my_shoppe)
print(my_shoppe.keys())

{'ice_cream': {'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49}, 'milkshake': {'vanilla': 3.99, 'chocolate': 3.99, 'oreo': 4.49}}
dict_keys(['ice_cream', 'milkshake'])

In [49]:
print(my_shoppe['ice_cream'], type(my_shoppe['ice_cream']))
print(my_shoppe['ice_cream']['vanilla'])
print(my_shoppe.get('milkshake').get('oreo'))

{'vanilla': 2.99, 'chocolate': 2.99, 'oreo': 3.49} <class 'dict'>
2.99
4.49

In [50]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA',
            'years_at_company': [2014, 2015]
        }
    ],
    'us_citizen': True
}

In [51]:
# How many years did Jimmy Smith work at AlphaInc?

total_years = len(job_app['experience'][1]['years_at_company'])

print(f"{job_app['full_name']} spent {total_years} years at {job_app['experience'][1]['company']}")

Jimmy Smith spent 2 years at AlphaInc

In [52]:
import requests

In [53]:
res = requests.get('https://pokeapi.co/api/v2/pokemon/charizard')
data = res.json()

In [54]:
for move in data['moves']:
    print(move['move']['name'])

mega-punch
fire-punch
thunder-punch
scratch
swords-dance
cut
wing-attack
fly
mega-kick
headbutt
body-slam
take-down
double-edge
leer
bite
growl
roar
ember
flamethrower
hyper-beam
submission
counter
seismic-toss
strength
solar-beam
dragon-rage
fire-spin
earthquake
fissure
dig
toxic
rage
mimic
double-team
smokescreen
defense-curl
reflect
bide
fire-blast
swift
skull-bash
fury-swipes
rest
rock-slide
slash
substitute
snore
curse
protect
scary-face
belly-drum
mud-slap
outrage
sandstorm
endure
false-swipe
swagger
fury-cutter
steel-wing
attract
sleep-talk
return
frustration
dynamic-punch
dragon-breath
iron-tail
metal-claw
hidden-power
twister
sunny-day
crunch
ancient-power
rock-smash
beat-up
heat-wave
will-o-wisp
facade
focus-punch
helping-hand
brick-break
secret-power
blaze-kick
blast-burn
weather-ball
air-cutter
overheat
rock-tomb
aerial-ace
dragon-claw
dragon-dance
roost
natural-gift
tailwind
fling
flare-blitz
air-slash
dragon-pulse
dragon-rush
focus-blast
giga-impact
shadow-claw
fire-fang
defog
captivate
ominous-wind
hone-claws
flame-burst
flame-charge
round
echoed-voice
sky-drop
incinerate
acrobatics
inferno
fire-pledge
bulldoze
dragon-tail
work-up
heat-crash
hurricane
confide
mystical-fire
power-up-punch
brutal-swing
breaking-swipe
scale-shot
dual-wingbeat
scorching-sands
tera-blast
dragon-cheer
temper-flare

In [55]:
# List Comprehension
# [transform iterable filter]
evens = []
for num in range(1, 50):
    if num % 2 == 0:
        evens.append(num)
print(evens)

evens2 = [num for num in range(1,50) if num % 2 == 0]
print(evens2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [56]:
# Dictionary Comprehension
# {transform key:vale iterable filter}

squared_loop_dict = {}
for num in range(1,20):
    if num % 2 == 0:
        squared_loop_dict[str(num)] = num**2
print(squared_loop_dict)

{'2': 4, '4': 16, '6': 36, '8': 64, '10': 100, '12': 144, '14': 196, '16': 256, '18': 324}

In [57]:
squared_comp_dict = {str(num): num**2 for num in range(1, 20) if num % 2 == 0}
print(squared_comp_dict)

{'2': 4, '4': 16, '6': 36, '8': 64, '10': 100, '12': 144, '14': 196, '16': 256, '18': 324}

## Dictionaries vs. Lists (over time) Example of RUNTIME

In [58]:
small_dictionary = {i: "value" for i in range(10)}
small_list = [x for x in range(10)]

print(small_dictionary)
print(small_list)

{0: 'value', 1: 'value', 2: 'value', 3: 'value', 4: 'value', 5: 'value', 6: 'value', 7: 'value', 8: 'value', 9: 'value'}
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
import time


# generate fake dictionary
big_dictionary = {i: 'value' for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [60]:
time.time()

1709165956.7993236

In [61]:
# tracking time for set
start_time = time.time()

print(9999999 in big_dictionary) # Check if the dictionary has the key 9999999

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list) # Check if the value 9999999 is in the list

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.26230764389038086

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [62]:
# set() or {val,}
# no order {3, 2, 1} output as {1, 2, 3}

first_set = set()
print(first_set)
print(type(first_set))

set()
<class 'set'>

In [63]:
second_set = {3, 1, 5, 56}
print(second_set)
print(type(second_set))

{56, 1, 3, 5}
<class 'set'>

In [64]:
empty_set = {} # This will create an empty DICTIONARY!!!
print(empty_set)
print(type(empty_set))

{}
<class 'dict'>

In [65]:
third_set = {1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1, 1}
print(third_set)

{1, 2, 3, 4}

In [66]:
# Sets are iterable
for element in third_set:
    print(element)

1
2
3
4

In [67]:
for e in second_set:
    print(e)

56
1
3
5

##### .add()

In [68]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [69]:
third_set.add(55)
print(third_set)

{1, 2, 3, 4, 55}

In [70]:
third_set.add(3)
print(third_set)

{1, 2, 3, 4, 55}

##### .remove()

In [71]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [72]:
third_set.remove(2)
print(third_set)

{1, 3, 4, 55}

In [73]:
third_set.remove(123)
print(third_set)

KeyError: 123

##### .union()

In [74]:
help(set.union)

Help on method_descriptor:

union(...)
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [75]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

s3 = s1.union(s2)
print(s3)

# OR

s4 = s2 | s1
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [76]:
help(set.intersection)

Help on method_descriptor:

intersection(...)
    Return the intersection of two sets as a new set.

    (i.e. all elements that are in both sets.)

In [77]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets
s5 = s1.intersection(s2)
print(s5)

# OR 

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [78]:
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [79]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}


s7 = s1.difference(s2)
print(s7)

s8 = s2.difference(s1)
print(s8)

# OR

s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}
{1, 2}
{5, 6}

##### .clear()

In [80]:
# Empties the whole set
# set.clear()
help(set.clear)

Help on method_descriptor:

clear(...)
    Remove all elements from this set.

In [81]:
nums = {3, 6, 9, 23, 43, 12, 54}

print(nums)

nums.clear()

print(nums)

{3, 23, 6, 54, 9, 43, 12}
set()

In [82]:
user_input = input('Enter something: ')

vowel_count = 0

for letter in user_input:
    if letter.lower() in {'e', 'o', 'a', 'u', 'i'}:
        vowel_count += 1
        
print(f'There are {vowel_count} vowels in "{user_input}"')

Enter something: Hello world
There are 3 vowels in "Hello world"

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [83]:
# frozensets:sets :: tuples:lists

In [84]:
# frozenset([])
s3

{1, 2, 3, 4, 5, 6}

In [85]:
my_frozen_set = frozenset(s3)
print(my_frozen_set)
print(type(my_frozen_set))

frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

In [86]:
help(frozenset)

Help on class frozenset in module builtins:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [87]:
my_frozen_set.add(7)

AttributeError: 'frozenset' object has no attribute 'add'

In [88]:
my_frozen_set.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

In [89]:
# Since frozensets are immutable (i.e. hashable), it can be used as dictionary keys or set values

super_cool_dict = {
    (1, 2, 3) : 'a',
    frozenset({'a', 'b'}): 123
}

print(super_cool_dict[(1, 2, 3)])
print(super_cool_dict.get(frozenset({'a', 'b'})))

a
123

In [90]:
# All set values must be hashable

my_set = {1, 2, 3, ('a', 'b')}

## Sets vs. Lists (over time) Example of RUNTIME

In [91]:
small_set = {f for f in range(10)}
print(small_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [92]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [93]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0010063648223876953
True
Elapsed time for list: 0.284912109375

# Exercises

### 1) Address Book


Develop a user-friendly program that acts as an address book. The program should have the following functionalities:

1. Upon starting the program, create an empty dictionary to store names and addresses.

2. Allow the user to add people to the address book. For each entry, prompt the user to input a name and its corresponding address. Store these as key-value pairs in the dictionary.

3. Provide a clear and straightforward menu for the user, including options to add a new entry or quit the program.

4. Implement a loop that allows users to continue adding entries until they explicitly choose to quit.

5. When the user decides to quit, break out of the loop and display the collected information. Print out the names and addresses of everyone in the address book in a well-formatted manner.

6. Consider adding error handling to handle unexpected inputs gracefully. For instance, if the user provides invalid input when prompted for a name or address, handle the error and ask for the information again.

7. Provide a user-friendly and informative message when the program terminates, summarizing the data entered and thanking the user for using the address book.

In [41]:
address_book = {}

def add_entry():
    while True:
        name = input("Enter the name: ")
        address = input("Enter the address: ")
        
        if name and address:
            address_book[name] = address
            print("Entry added successfully!")
        else:
            print("Invalid input. Please try again.")
        
        choice = input("Do you want to add another entry? (y/n): ")
        if choice.lower() != 'y':
            break

def display_entries():
    print("Address Book Entries:")
    for name, address in address_book.items():
        print(f"Name: {name}\tAddress: {address}")

def address_book_program():
    print("Welcome to the Address Book Program!")
    
    while True:
        print("\nMenu:")
        print("1. Add a new person to the address book")
        print("2. Display people in the address book")
        print("3. Quit")
        
        choice = input("Enter your choice (1-3): ")
        
        if choice == '1':
            add_entry()
        elif choice == '2':
            display_entries()
        elif choice == '3':
            print("\nThank you for using the Address Book Program! These are the entries you have added:")
            display_entries()
            break
        else:
            print("Invalid choice. Please try again.")

address_book_program()

Welcome to the Address Book Program!

Menu:
1. Add a new person to the address book
2. Display people in the address book
3. Quit

Thank you for using the Address Book Program! These are the entries you have added:
Address Book Entries:

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a set of times they are available ('HH:MM' 24-hour). Create a function that will take in any number of sets of available times (*remember \*args*) and return a set of times where everyone can meet.

In [42]:
person1 = {'09:00', '10:30', '11:30', '12:00', '13:00', '14:30'}
person2 = {'09:30', '10:00', '10:30', '12:00', '14:30', '16:00'}
person3 = {'09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00'}
person4 = {'11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00'}
# Available Times: '12:00' and '14:30'

In [43]:
def find_common_times(*args):
    common_times = set.intersection(*args)
    return common_times

times = find_common_times(person1, person2, person3, person4)
print(times)

{'12:00', '14:30'}